<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1b" stopProcessing="true">
					<match url="^home"  ignoreCase="true" />
					<action type="Rewrite" url="/main.php"  />
				</rule>
				<rule name="rule 2b" stopProcessing="true">
					<match url="^login"  ignoreCase="true" />
					<action type="Rewrite" url="/login.php"  />
				</rule>
				<rule name="rule 3t" stopProcessing="true">
					<match url="^pendaftaran.html$"  ignoreCase="true" />
					<action type="Rewrite" url="/main.php?page=pendaftaran"  />
				</rule>
				<rule name="rule 4t" stopProcessing="true">
					<match url="^calonsiswa.html$"  ignoreCase="true" />
					<action type="Rewrite" url="/main.php?page=daftarcalon"  />
				</rule>
				<rule name="rule 5t" stopProcessing="true">
					<match url="^kategori/([0-9a-zA-Z_-]+)$"  ignoreCase="true" />
					<action type="Rewrite" url="/index.php?kategori={R:1}"  />
				</rule>
            </rules>
        </rewrite> 
    </system.webServer>
</configuration>